:root {
    --main-bg-clr: #17181a;
    --main-bg-clr: #101011;
    --main-inner-bg-clr: #f1f1f1;
    --main-outer-bg-clr: #DEDFE0;
    --text-clr: #059afd;
    --text-clr-2: rgb(0, 153, 255);
    --text-clr-3: #2bc6f5;
    --border: linear-gradient(260deg, #4919ce, #2d79db);
    --border-rv: linear-gradient(260deg,#2d79db, #4919ce );
    --text-grd-clr:linear-gradient(200deg, #4a2cd3, #58c9dd);
    --text-grd-clr-rv:linear-gradient(200deg, #58c9dd, #4a2cd3);
  
  }
/* Dots */
/* .slick-dotted.slick-slider
{
    //margin-bottom: 30px;
} */

.slick-dots
{
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
   // padding: 10px 0px;
    margin-top: 20px;
}
.slick-dots li
{
    width: 35px;
    height: 10px;
    background: transparent;
    border-radius: 50px;
    margin: 0 10px;
    padding: 0;
    position: relative;
    
}
.slick-dots li button
{
    font-size: 0;
    height: 10px;
    width: 30px;
    background: var(--border);
    border-radius: 50px;

    position: relative;
   
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
     font-size: 0px; 
     height: 10px;
     z-index: 999;
     opacity: 1;
}
.slick-dots li.slick-active button:before
{
    position: absolute;
    left: -6px;
    width: 50px;
    height: 10px;
    border-radius: 50px;
    background: var(--border-rv);
    transition: 1s;
    z-index: 999;
     opacity: 1;
   
}
