:root {
  --main-bg-clr: #17181a;
  --main-bg-clr: #101011;
  --main-inner-bg-clr: #f1f1f1;
  --main-outer-bg-clr: #dedfe0;
  --text-clr: #059afd;

  --text-clr-2: rgb(0, 153, 255);

  --text-clr-3: #2bc6f5;

  --border: linear-gradient(260deg, #4919ce, #2d79db);
  --border-rv: linear-gradient(260deg, #2d79db, #4919ce);
  --text-grd-clr: linear-gradient(200deg, #4a2cd3, #58c9dd);
  --text-grd-clr-rv: linear-gradient(200deg, #58c9dd, #4a2cd3);
}
@media screen and (max-width: 1200px) {
  .container {
    width: 1100px;
  }
  /*------------ Side-Ber-------------*/
  .side-ber {
    position: fixed;
    right: 25px;
  }
  /*---------------------hero area ----------------*/
  .hero-area {
    position: relative;
    .middel-area {
      .imgs {
        .hero-main-photo {
          top: 182px;
          left: -150px;
          img {
            width: 740px;
          }
        }
        .hero-main-photo-2 {
          position: absolute;
          top: 83px;
          left: 55px;
        }
        img {
          width: 450px;
        }
      }
    }
  }
  /*--------------------About-area----------------*/
  #about-area {
    .main-content {
      .inner {
        .right {
          p {
            padding-right: 10px;
          }
        }
      }
    }
  }
  /*-----------------------Service-area-----------------------*/
  #service-area {
    .content-box1 {
      left: 98px;
    }

    .content-box2 {
      right: 98px;
    }

    .content-box3 {
      left: 98px;
    }

    .content-box4 {
      right: 98px;
    }

    .content-box5 {
      left: 98px;
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 850px;
  }
  /*---------------------header area ----------------*/

  .header-area {
    .nav-area {
      nav {
        position: absolute;
        left: 0px;
        top: 0px;
        background: rgb(23, 28, 32);
        backdrop-filter: blur(5px);
        height: 100vh;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: circle(0% at 0 0);
        transition: 0.9s ease-in-out;
        ul {
          display: block;
          li {
            margin: 30px 0px;
          }
        }
      }
      .button {
        display: block;
        display: flex;
        flex-direction: column;
      }
    }
    .nav-area.show {
      nav {
        clip-path: circle(140.9% at 0 0);
      }
    }
    .button {
      display: none;
      button {
        margin: 5px 0px;
      }
    }
    .nav-bar {
      svg {
        fill: var(--text-clr-3);
      }
      display: block;
    }
  }
  /*---------------------hero area ----------------*/
  .hero-area {
    .right {
      width: 50%;
      padding-left: 10px;
    }
    .middel-area {
      height: 100vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .imgs {
        .hero-main-photo {
          top: 105px;
          left: -105px;
          img {
            width: 850px;
          }
        }
        .hero-main-photo-2 {
          top: 47px;
          left: 136px;
          img {
            width: 457px;
          }
        }
      }
    }
  }
  /*--------------------About-area----------------*/
  #about-area {
    .main-content {
      .inner {
        .right {
          p {
            padding: 0px 45px 0px 0px;
          }
        }
      }
    }
  }
  /*-----------------------Service-area-----------------------*/
  #service-area {
    .content-box1 {
      left: 28px;
    }

    .content-box2 {
      right: 28px;
    }

    .content-box3 {
      left: 28px;
    }

    .content-box4 {
      right: 28px;
    }

    .content-box5 {
      left: 28px;
    }
  }
  /*-------------------contect-area-----------------------*/
  #contect-area {
    .left {
      height: 250px;
      width: 300px;
      left: -50px;
      padding: 45px 0px;
    }
    .right {
      width: 650px;
      height: 575px;
      padding: 3px 15px 50px 185px;
      position: relative;
      left: -20px;
      textarea {
        height: 120px;
        width: 345px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 700px;
  }

  /*---------------------hero area ----------------*/
  .hero-area {
    .right {
      width: 500px;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.7) 75%,
        rgba(0, 0, 0, 0.09) 100%
      );
    }
    .middel-area {
      .imgs {
        .hero-main-photo {
          top: 145px;
          left: -89px;
          img {
            width: 650px;
          }
        }
        .hero-main-photo-2 {
          top: 47px;
          left: 74px;
          img {
            width: 410px;
          }
        }
      }
    }
  }
  /*--------------------Protfolio--------------------*/
  #Protfolios {
    .top-text {
      &::before {
        top: -40px;
        left: -165px;
        font-size: 103px;
      }
    }
  }
  /*--------------------About-area----------------*/
  #about-area {
    .top-text {
      &::before {
        top: -40px;
        left: -95px;
        font-size: 103px;
      }
    }
    .main-content {
      .inner {
        .left {
          margin-top: 15px;

          img {
            width: 250px;
          }
        }
        .right {
          h3 {
            font-size: 19px;
            padding: 0px 40px 0px 0px;
          }
          p {
            padding: 0px 65px 0px 0px;
            font-size: 15px;
          }
        }
      }
    }
  }
  /*-------------------contect-area-----------------------*/
  #contect-area {
    .top-text {
      &::before {
        top: -40px;
        left: -105px;
        font-size: 103px;
      }
    }
    .left {
      height: 250px;
      width: 300px;
      left: -20px;
      padding: 45px 0px;
    }
    .right {
      width: 450px;
      height: 575px;
      padding: 3px 15px 20px 60px;
      position: relative;
      left: 100px;
      textarea {
        height: 120px;
        width: 345px;
      }
    }
  }
  /*-----------------------Service-area-----------------------*/
  #service-area {
    .top-text {
      &::before {
        top: -40px;
        left: -95px;
        font-size: 103px;
      }
    }
    .stike {
      display: none;
    }
  }
  /*--------------------fotter--------------------*/
  #footer-area {
    height: 550px;
    .container {
      flex-wrap: wrap;
      flex-direction: row;
      row-gap: 20px;
      padding: 0px 50px;
      box-sizing: border-box;
      .middel {
        position: absolute;
        top: 300px;
      }
    }
    .span {
      left: 52%;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 550px;
  }

  /*---------------------hero area ----------------*/
  .hero-area {
    .right {
      width: 500px;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.7) 75%,
        rgba(0, 0, 0, 0.09) 100%
      );
    }
    .middel-area {
      .imgs {
        .hero-main-photo {
          top: 145px;
          left: -89px;
          img {
            width: 512px;
          }
        }
        .hero-main-photo-2 {
          top: 47px;
          left: 74px;
          img {
            width: 352px;
          }
        }
      }
    }
  }
  /*--------------------About-area----------------*/
  #about-area {
    height: 900px;
    .top-text {
      &::before {
        top: -40px;
        left: -95px;
        font-size: 103px;
      }
    }
    .main-content {
      .inner {
        display: block;
        .left {
          position: relative;
          left: 18%;
          transform: translate(-20%);
          width: 50%;

        }
        .right {
          width: 90%;
          position: relative;
          left: 50%;
          transform: translate(-50%);
          
        }
      }
    }
  }
  /*-------------------contect-area-----------------------*/
  #contect-area {
    height: 1100px;
    .container {
      display: block;
      .left {
        width: 530px;
        padding: 50px 50px;
        position: inherit;
        left: 5px;
      }
      .right {
        width: 550px;
        height: 575px;
        padding: 10px 0px 0px 40px;
        position: relative;
        left: 0px;
        top: 0px;
        margin-top: 25px;
        input {
          width: 468px;
        }
        textarea {
          width: 475px;
        }
      }
    }
  }
  /*-----------------------Service-area-----------------------*/
  #service-area {
    height: 2314px;
    .top-text {
      &::before {
        top: -40px;
        left: -95px;
        font-size: 103px;
      }
    }
    .stike {
      display: none;
    }
    .content-box1 {
      top: 250px;
      left: 109px;
    }

    .content-box2 {
      top: 675px;
      right: 109px;
    }

    .content-box3 {
      top: calc(675px + 400px);
      left: 109px;
    }

    .content-box4 {
      top: calc(675px + (400px * 2));
      right: 109px;
    }

    .content-box5 {
      top: calc(675px + (400px * 3));
      left: 109px;
    }
  }
  /*--------------------fotter--------------------*/
  #footer-area {
    height: 400px;
    .container {
      display: block;
      .left {
        position: relative;
        top: 0px;
      }
      .middel {
        position: relative;
        top: 0;
      }
      .right {
        position: absolute;
        top: 50%;
        transform: translate(-0, -50%);
        right: 150px;
      }
    }
    .span {
      left: 52%;
    }
  }
}
